
<mat-card class="card-oas" >
    <mat-card-header>
        <!-- <mat-card-title>Terceros</mat-card-title>
        <mat-card-subtitle>Ambiente de pruebas</mat-card-subtitle>
        -->
        <mat-card-title>Para tener en cuenta</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <p>
            Estimado usuario, a través de esta página web usted podrá verificar la existencia del código hash dentro de las bases de datos de la Universidad Distrital Francisco José de Caldas, así como conocer los datos asociados con el mismo. A partir de esta información, se podrá validar si el documento donde se refleja el código hash presenta los mismos datos, y de esta forma comprobar la autenticidad de estos últimos.           
        </p>

        <p>
            La información reflejada es tratada y administrada por la Universidad Distrital Francisco José de Caldas conforme a lo previsto en el documento Resolución 432 de 2016 <b>"Politica de tratamiento de Datos Personales"</b> y la <b>Resolución 711 de 2008</b> sobre la reglamentación del uso de los servicios de publicación en internet y correo electrónico que se prestan en la Universidad.
        </p>
    </mat-card-content>
</mat-card>

<br>
<br>



<mat-card class="card-oas" >
    <mat-card-header>
        <mat-card-title>Verificar documento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
                  
 

        
       


        <form #captchaProtectedForm="ngForm" (ngSubmit)="verificarDocumento()">

            <mat-form-field appearance="outline">
                <mat-label>Hash</mat-label>
                <input matInput placeholder="30 Caracteres" minlength="4" type="text" [(ngModel)]="hash" [ngModelOptions]="{standalone: true}" required>
                <mat-icon matSuffix>description</mat-icon>
                <mat-hint>Por favor ingrese el código hash</mat-hint>
            </mat-form-field>

            <re-captcha *ngIf="key!==''"
              [(ngModel)]="formModel.captcha"
              name="captcha"
              required
              [siteKey]="key"
              #captchaControl="ngModel"
            ></re-captcha>
            <button type="submit" *ngIf="captchaProtectedForm.form.valid" mat-flat-button color="primary">
                Verificar código Hash
            </button>
        </form>
    </mat-card-content>
</mat-card>

<ng2-smart-table *ngIf="documento!==undefined" [source]="source" [settings]="settings"></ng2-smart-table>
