.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: var(--primary);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: var(--primary);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    vertical-align: middle;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-head {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.tg .tg-body {
    text-align: center;
    vertical-align: middle
}

.div-table {
    overflow: auto;
}