<mat-card class="card-oas" >
    <mat-card-header>
        <!-- <mat-card-title>Terceros</mat-card-title>
        <mat-card-subtitle>Ambiente de pruebas</mat-card-subtitle>
        -->
        <mat-card-title>Información básica</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Hola Mundo
                </mat-panel-title>

            </mat-expansion-panel-header>

        </mat-expansion-panel>
    </mat-card-content>
</mat-card>
